Import Required Packages

In [2]:
import os
import pandas as pd
from datetime import datetime

Read Source Raw Data File

In [3]:
path = '/Users/nyashachiza/Projects/Other/exchange-rate-forcasting/data/raw-data/zimbabwe exchange-sorce-data-2007-2023.xlsx'
df = pd.read_excel(path)
df.head()

,2007M01 [2007M01],2007M02 [2007M02],2007M03 [2007M03],2007M04 [2007M04],2007M05 [2007M05],2007M06 [2007M06],2007M07 [2007M07],2007M08 [2007M08],2007M09 [2007M09],2007M10 [2007M10],...,2023M02 [2023M02],2023M03 [2023M03],2023M04 [2023M04],2023M05 [2023M05],2023M06 [2023M06],2023M07 [2023M07],2023M08 [2023M08],2023M09 [2023M09],2023M10 [2023M10],2023M11 [2023M11]
0,0.000122,0.000122,0.000122,0.000121,0.000121,0.00012,0.00012,0.00012,0.01129,0.014083,...,829.140475,903.554391,967.528175,1389.422391,5230.238379,5063.853413,4581.357543,4922.946548,5643.509091,5810.9205

Tranform raw data

In [4]:
df = df.transpose()
df.reset_index(inplace=True)
df.head()

               index         0
0  2007M01 [2007M01]  0.000122
1  2007M02 [2007M02]  0.000122
2  2007M03 [2007M03]  0.000122
3  2007M04 [2007M04]  0.000121
4  2007M05 [2007M05]  0.000121

fix columns and extract date and rate

In [5]:

df.columns = ['period','rate']  # Rename the unnamed column
df['date'] = pd.to_datetime(df['period'].str.split().str[0], format='%YM%m')  # Extract month-year and convert to datetime# df.rename(columns={'index': 'month_year'}, inplace=True)  # Rename the index
df.head()

              period      rate       date
0  2007M01 [2007M01]  0.000122 2007-01-01
1  2007M02 [2007M02]  0.000122 2007-02-01
2  2007M03 [2007M03]  0.000122 2007-03-01
3  2007M04 [2007M04]  0.000121 2007-04-01
4  2007M05 [2007M05]  0.000121 2007-05-01

drop period column

In [6]:
df.drop(columns=['period'], inplace=True)
df.head()

       rate       date
0  0.000122 2007-01-01
1  0.000122 2007-02-01
2  0.000122 2007-03-01
3  0.000121 2007-04-01
4  0.000121 2007-05-01